.iso-container {
  transform-style: preserve-3d;
  transform: rotateX(55deg) rotateZ(-45deg);
  scale: 1;
  width: 100%;
  height: 100%;
}

/* 
  Global class to "un-transform" child elements so they face the camera. 
  This is applied to all objects, crops, and UI elements on the grid.
*/
.un-transform {
  transform: rotateZ(45deg) rotateX(-55deg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}